### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
"Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

In [100]:
pymoi = pd.read_csv("Resources/purchase_data.csv")
pymoi.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [102]:
plcnt = pymoi["SN"].nunique()
plcnt

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
itcnt = pymoi["Item ID"].nunique()
sam = pymoi["Price"].sum()
men = sam / len(pymoi["Price"])
lst = [itcnt, men, len(pymoi), sam]
print(lst)

lstnm=["itemcount","mean","ordercount","sum"]

pd.DataFrame(lst,lstnm)

[183, 3.0509871794871795, 780, 2379.77]

                      0
itemcount    183.000000
mean           3.050987
ordercount   780.000000
sum         2379.770000

In [105]:
sumtbl = pd.DataFrame({"itemcount":[itcnt],"mean":[men],"ordercount":[len(pymoi)],"sum":[sam]})
sumtbl

   itemcount      mean  ordercount      sum
0        183  3.050987         780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [106]:
rawplydmg = pymoi.loc[:, ["Gender","Age","SN"]]
plydmg = rawplydmg.drop_duplicates()
len(plydmg)

plydmg

gndcnt = plydmg["Gender"].value_counts()
gndpct = gndcnt / plcnt

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
gndsam = pymoi.groupby(["Gender"]).sum()["Price"].rename("sum")
gndmen = pymoi.groupby(["Gender"]).mean()["Price"].rename("mean")
gndpchs = pymoi.groupby(["Gender"]).count()["Price"].rename("pchs")
gndpchsps = gndsam / gndcnt
pd.DataFrame([gndpchs, gndmen, gndsam, gndpchsps.rename("bill")],).transpose().round(2)

                        pchs  mean      sum  bill
Gender
Female                 113.0  3.20   361.94  4.47
Male                   652.0  3.02  1967.64  4.07
Other / Non-Disclosed   15.0  3.35    50.19  4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
plydmg["Age"]
agbinlim = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,45.9]
agbinam = [" <10","10-15","15-20","20-25","25-30","30-35","35-40","40-45"]
plydmg["pup"] = pd.cut(plydmg["Age"], agbinlim, labels = agbinam)
plyct2 = plydmg["pup"].value_counts()
pup2 = pd.DataFrame(plyct2)
pup2

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
pymoi["pupo"] = pd.cut(pymoi["Age"], agbinlim, labels = agbinam)

agsam = pymoi.groupby(pymoi["pupo"]).sum()["Price"].rename("sum")
agmen = pymoi.groupby(pymoi["pupo"]).mean()["Price"].rename("mean")
agpchs = pymoi.groupby(pymoi["pupo"]).count()["Price"].rename("pchs")
agpchsps = agsam / pup2['pup']
pd.DataFrame([agpchs, agmen, agsam, agpchsps.rename("bill")],).transpose().sort_index().round(2)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#pymoi.groupby(["SN"])

pymsam = pymoi.groupby(pymoi["SN"]).sum()["Price"].rename("sum")
pymmen = pymoi.groupby(pymoi["SN"]).mean()["Price"].rename("mean")
pympchs = pymoi.groupby(pymoi["SN"]).count()["Price"].rename("pchs")
pd.DataFrame([pympchs, pymmen, pymsam],).transpose().sort_values("sum", ascending=False).round(2)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
itm = pymoi.loc[:,["Item ID","Item Name","Price"]]
itmcnt = itm.groupby(["Item ID","Item Name"]).count()["Price"].rename("cnt")
itmsum = itm.groupby(["Item ID","Item Name"]).sum()["Price"].rename("sales")
itmpc = itm.groupby(["Item ID","Item Name"]).mean()["Price"].rename("price")
itmdf = pd.DataFrame([itmcnt,itmsum,itmpc],).transpose()
itmdf.sort_values("sales", ascending = False).head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
itmdf.sort_values("cnt",ascending = False).head()